@{
    ViewBag.Title = "Customers";
}

<br />
<br />
<br />
<br />
<br />
<br />
<h1 align="center">Banking System</h1>
<hr />
<div style="text-align:center">
    @using (Html.BeginForm("Customers", "Home", FormMethod.Post))
    {
        <input class="btn btn-success" type="submit" value="View All Customers" />
    }
</div>
